.text-center.mt-6.mb-10.px-4
  = link_to t('shared.back'), admin_root_path, class: 'text-pink-500 hover:text-indigo-500 transition duration-100 ease-in-out'

.text-center.mt-10.px-4
  %h1.text-4xl.text-indigo-600
    = t('.download_visits')

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-10.pb-16.px-4
  .container.mx-auto
    .mx-auto{ class: 'md:w-1/2' }
      - if @form.visits_to_download?
        = form_with model: @form do |f|
          .my-8
            .w-full
              = f.label :selected_date, class: 'text-white text-xs'
              = f.select :selected_date, @form.date_select_options, {}, class: 'w-full'
          .actions.my-8.text-right
            .w-full
              = f.button nil, type: :submit, class: 'inline-flex items-center px-10 py-3 border border-transparent text-base leading-6 font-medium text-indigo-900 bg-white hover:bg-indigo-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
      - else
        .text-center.text-indigo-200.antialiased
          = t('.there_are_no_visits_to_download')

