.text-center
  = form_with model: visit_form, url: visit_path(visit_form.object.host) do |f|
    .mx-auto{ class: 'w-full sm:w-1/2' }
      .mb-8
        = f.label :name, class: 'text-gray-500 text-xs tracking-wide'
        = f.text_field :name, placeholder: "optional", class: 'input-text w-full'
        = render 'shared/forms/field_error_messages', form: visit_form, column: :name
      .mb-8
        = f.label :contact, class: 'text-gray-500 text-xs tracking-wide'
        = f.text_field :contact, placeholder: "Please provide an email or phone", class: 'input-text  w-full'
        = render 'shared/forms/field_error_messages', form: visit_form, column: :contact

      .actions.mt-10
        = f.submit 'Submit my contact data', class: "input-submit"
