- if visit&.persisted?
  .bg-white.mb-8{ class: "border-status-#{visit.status}" }
    .flex.flex-wrap.px-5.py-5
      .w-full
        .text-xs.text-gray-500= visit.decorate.display_visited_at_in_hosts_time_zone
      .w-full.mt-2
        .text-normal.uppercase.text-blue-500.tracking-wide= visit.host.name
      .w-full.my-3
        .text-xs.text-gray-400= t('.token')
        .text-3xl.font-mono= visit.token
      .w-full.my-3
        .text-xs.text-blue-400
          - if visit.name.present?
            = "#{visit.name} | "
          = visit.decorate.display_contact_scrambled_full
      - if visit.notes.present?
        .w-full.my-3
          .text-xs.text-gray-400
            Notes
          .text-sm.tracking-wide= visit.notes

      .w-full.my-3
        .text-xs.text-gray-400
          = t('.status')
        .text-sm.mt-1{ class: "text-status text-status--#{visit.status}" }
          = visit.decorate.display_status
      .w-full.my-3.downloaded-at
        - if visit.downloaded?
          .text-xs.text-orange-500
            = t('.this_data_has_been_disclosed_on_at_utc',
                date: visit.decorate.display_downloaded_at_date,
                time: visit.decorate.display_downloaded_at_time)
        - else
          .text-xs.text-green-400
            = t('.this_data_has_not_been_disclosed')
