- if visit&.persisted?
  %div
    .shadow.bg-white.rounded.mb-8{ class: "border-status-#{visit.status}" }
      .flex.flex-wrap
        .w-full.px-5.pt-5
          .text-xs.text-gray-500
            %time{ datetime: visit.decorate.visited_at_in_hosts_time_zone, title: visit.decorate.visited_at_in_hosts_time_zone }= visit.decorate.display_visited_at_in_hosts_time_zone
        .w-full.px-5.py-1
          .text-xs= visit.host.name
        .w-full.px-5.py-1
          .text-2xl= visit.token
        .w-full.px-5.pb-5
          .flex
            .flex-auto
              .text-red-600.text-xs.tracking-wider
                - if visit.name.present?
                  = "#{visit.name} | "
                = visit.contact
            .flex-auto.text-right.text-sm{ class: "text-status-#{visit.status}" }
              = visit.decorate.display_status
