.my-8.p-5.bg-white{ class: "border-status-#{visit.status}", data: { visit: { token: visit.token } } }
  = form_with model: Admin::VisitForm.new(visit) do |f|
    .flex.flex-wrap.cursor-pointer{ data: { action: 'click->admin-visits#toggleActionMenu' } }
      .w-full
        .flex.flex-wrap.sm:flex-no-wrap.text-xs
          .w-full
            .text-gray-500= visit.decorate.display_visited_at_in_hosts_time_zone
      .w-full
        .text-2xl= visit.token
      .w-full.mt-1
        .flex
          .flex-auto
            .text-indigo-600.text-xs.tracking-wider
              - if visit.name.present?
                = "#{visit.name} | "
              = visit.decorate.display_contact_scrambled_full

    .flex.flex-wrap.mt-5{ data: { target: 'admin-visits.actionMenu'} }
      .w-full
        .flex.flex-wrap
          = f.label :notes, class: 'w-full text-indigo-400 text-xs'
          = f.text_field :notes, class: 'bg-indigo-100 w-full border border-indigo-200', placeholder: 'Add your notes if required'
        .flex.flex-wrap.text-center.sm:flex-no-wrap
          .w-full.p-3.pl-0
            = f.submit 'Confirm', class: 'cursor-pointer w-full bg-green-500 hover:bg-green-600 transition duration-200 ease-in-out text-sm text-white tracking-wider'
          .w-full.p-3.pr-0
            = link_to 'Remove', admin_visit_path(visit), method: :delete, class: 'cursor-pointer w-full block p-3 bg-gray-200 transition duration-200 ease-in-out hover:bg-gray-300 text-sm text-gray-700 tracking-wider'
