.text-center.mt-6.mb-10.px-4
  = link_to t('shared.back'), admin_root_path, class: 'text-pink-500 hover:text-indigo-500 transition duration-100 ease-in-out'

.text-center
  %h1.text-4xl.text-indigo-600.px-4
    = t('.manage_visits')

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-10.pb-16.px-4
  .container.mx-auto.text-left
    .mx-auto{ class: 'md:w-1/2' }
      .w-full.mb-2.text-center.text-white
        - unconfirmed_active_class = params.dig('filter', 'status') == 'confirmed' ? 'text-indigo-200' : 'font-bold'
        .inline.mr-1{ class: unconfirmed_active_class }
          \-
          = link_to t('.unconfirmed_with_count', count: @visit_statistics.unconfirmed || 0), admin_visits_path, class: 'hover:text-indigo-300'
        - confirmed_active_class = params.dig('filter', 'status') == 'confirmed' ? 'font-bold' : 'text-indigo-300'
        .inline.ml-1{ class: confirmed_active_class }
          ✓
          = link_to t('.confirmed_with_count', count: @visit_statistics.confirmed || 0), admin_visits_path(filter: { status: 'confirmed'}), class: 'hover:text-white'
      .w-full.my-10
        - if @visits.any?
          %div{ data: { controller: 'admin-visits' } }
            - @visits.each do |visit|
              = render "status_#{visit.status}", visit: visit

        - else
          - if params.dig('filter', 'status') == 'confirmed'
            .text-indigo-100.text-center.text-sm.mt-2
              = t('.nothing_here_yet')
          - else
            .mt-20.text-green-400
              %svg.mx-auto.w-24.h-24{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M0 0h24v24H0z", :stroke => "none"}
                %circle{:cx => "12", :cy => "12", :r => "9"}
                %path{:d => "M9 12l2 2l4 -4"}
            .text-white.text-center.tracking-wide.mt-2
              = t('.all_caught_up_exclamation_mark')

