
.text-center
  .text-gray-700.text-sm= "#{current_host.name}"
  %h1.text-2xl.tracking-wider Manage visits

.text-center.my-10
  = raw render 'shared/buttons/back', url: admin_root_path

.flex.flex-wrap.sm:flex-no-wrap.text-sm
  .w-full.mb-2.text-center
    - unconfirmed_active_class = params.dig('filter', 'status') == 'confirmed' ? 'text-gray-500' : 'font-bold'
    %div{ class: "inline #{unconfirmed_active_class}"}
      \-
      = link_to "#{@visit_statistics.unconfirmed || 0} unconfirmed", admin_visits_path, class: 'hover:text-black'
    - confirmed_active_class = params.dig('filter', 'status') == 'confirmed' ? 'font-bold' : 'text-gray-500'
    %div{ class: "inline #{confirmed_active_class} ml-2" }
      ✓
      = link_to "#{@visit_statistics.confirmed || 0} confirmed", admin_visits_path(filter: { status: 'confirmed'}), class: 'hover:text-black'

- if @visits.any?
  %div{ data: { controller: 'admin-visits' } }
    - @visits.each do |visit|
      = render "status_#{visit.status}", visit: visit

- else
  - if params.dig('filter', 'status') == 'confirmed'
    .text-gray-500.text-center.text-sm.mt-2 Nothing here yet.
  - else
    .mt-10
      .svg-center= raw render_svg 'circle_check_large_green.svg'
      .text-gray-700.text-center.tracking-wide.mt-2
        All caught up!

