%h1 Attendances

- if @attendances.any?
  %div{ data: { controller: 'coaches-attendances', 'coaches-attendances': { 'open-menu-tokens': '' } } }
    - @attendances.group_by(&:attended_on).each do |attended_on, attendances|
      .mb-16
        .text-sm.text-gray-500.py-3= attended_on

        - attendances.each do |attendance|
          - confirmed_classes = attendance.confirmed? ? 'border-green-400 border-2' : 'border border-gray-200 cursor-pointer hover:shadow-lg'
          .shadow.bg-white.rounded.mb-8{ class: confirmed_classes, data: { action: 'click->attendances#toggleActionMenu', attendance: { token: attendance.token } } }
            .flex.flex-wrap
              .w-full.px-5.pt-5
                .text-2xl= attendance.token
              .w-full.px-5.pb-5
                .flex
                  .flex-auto
                    .text-red-600.text-xs.tracking-wider
                      - if attendance.name.present?
                        = "#{attendance.name} | "
                      = attendance.contact
                  .flex-auto.text-right.text-sm{ class: "text-status-#{attendance.status}"}
                    = attendance.decorate.display_status
              - unless attendance.confirmed?
                .w-full.-mb-1{ data: { target: 'attendances.actionMenu'} }
                  .flex.text-center
                    .w-full
                      = link_to 'Confirm', confirm_coaches_attendance_path(attendance), class: 'py-3 block w-full bg-green-500 text-white rounded-bl text-xs uppercase tracking-wider hover:bg-green-600'
                    .w-full
                      = link_to 'Remove', coaches_attendance_path(attendance), method: :delete, class: 'py-3 block w-full bg-gray-200 text-gray-600 rounded-br text-xs uppercase tracking-wider hover:bg-gray-300'

- else
  .bg-white.p-4
    .text-gray-500.text-center.text-sm No attendances yet
