.text-center.mt-8.mb-10.px-4
  = link_to t('shared.back'), root_path, class: 'text-pink-500 hover:text-blue-500 transition duration-200 ease-in-out'

.text-center.px-4
  %h1.text-4xl.bold.text-blue-500
    = t('.about')

%section#guest.bg-gradient-to-r.from-blue-600.to-blue-600.via-blue-700.pt-10.pb-20.text-center.px-4
  %h2.text-4xl.text-white.leading-tight.m-0.p-0
    = t('.privacy')
    .text-sm.mt-1= t('.and')
    = t('.transparency')

  .container.mx-auto
    .w-full.mx-auto{ class: 'md:w-1/2'}
      .text-blue-100.tracking-wide.mt-10.text-left
        .my-4
          .w-full.text-2xl.text-blue-200
            %span.font-bold
              = t('shared.rumo')
            = t('.does_not_show_contact_data_unless_necessary')
          .w-full.mt-4
            = t('.your_contact_data_is_not_shown_to_your_host_html')

            %p.mt-4
              = t('.a_host_can_unlock_and_download')
              = t('.this_is_required_when_they_provide_to_contact_tracing')

        .mt-20
          .w-full.text-2xl.text-blue-200
            %span.font-bold
              = t('shared.rumo')
            = t('.shows_if_data_has_been_unlocked')
          .w-full.mt-4
            %p.mt-4
              = t('.rumo_wont_notify_when_data_has_been_unlocked_html')
            %p.mt-4
              = t('.if_your_data_is_unlocked_you_see_it_on_your')
              = link_to t('.visits'), visits_path, class: 'text-blue-300 hover:text-blue-500 transition duration-200 ease-in-out'
              = t('.page_period')

        .mt-20
          .w-full.text-2xl.text-blue-200
            %span.font-bold
              = t('shared.rumo')
            = t('.deletes_data_after_14_days')
          .w-full.mt-4
            %p
              = t('.data_will_automatically_be_deleted_html')
              = t('.forever_period')
            %p.mt-4
              = t('.there_wont_be_any_backups')

%section#guest.pt-10.pb-12.text-center.px-4
  %h2.text-3xl.mt-10
    = t('.contact')
  %p.text-xl= mail_to 'rumo.page@gmail.com', 'rumo.page@gmail.com', class: 'text-pink-500 hover:text-blue-500 transition duration-200 ease-in-out'
