.text-center
  %h1.text-center.text-4xl.mb-0
    Rumo is a digital
    %b guestlist
  %p.text-xl.text-gray-800
    which can be used for COVID-19 precautionary measures.

.text-center.tracking-wide.leading-relaxed.text-gray-800.my-16
  %p.my-6
    %b.block.tracking-wider.text-purple-500 Guests
    submit their contact data at the beginning of their visit.

  %p.my-6
    %b.block.tracking-wider.text-purple-500 Hosts
    validate and confirm visits if required.

  %p.my-6
    %b.block.tracking-wider.text-purple-500 Rumo
    keeps sensitive data
    %b private
    until they are needed for contact tracing.

  %p.mt-6
    = link_to 'Read more', about_path, class: 'text-pink-500 hover:text-indigo-500 transition duration-200 ease-in-out'

%h2.mt-16.text-center.text-3xl For guests

%section#guest.bg-yellow-100.mb-10.text-center.p-10.shadow-xl.rounded-lg
  - if @visits_count.positive?
    .mb-5.p-8.text-center
      = link_to 'My visits', visits_path, class: 'tracking-wide text-white py-2 px-5 rounded bg-yellow-700'

  %h3 Visit a host
  .flex.py-4.flex-wrap.sm:flex-no-wrap.items-center.justify-between
    .text-center.text-gray-800{ class: 'w-full sm:w-5/12' }
      .mb-1.text-xs.text-gray-500 Scan
      .svg-center= raw render_svg 'scan_large.svg'
      .mt-2.text-xs.text-gray-500
        Ask your host for the
        %span.font-bold QR code
        that automatically takes you to the registration form.
    .text-center.text-gray-500.self-center{ class: 'w-full sm:w-2/12' }
      .w-full
        or
    .text-center{ class: 'w-full sm:w-5/12' }
      .w-full
        = form_with model: @goto_hosts_form, url: root_path do |f|
          = f.label :host_url_identifier, "Enter your host's token manually", class: 'mb-1 text-xs text-gray-500'
          = f.text_field :host_url_identifier, class: 'input-text shadow-lg'
          %span.text-xs.text-pink-400= f.object.errors.messages[:host_url_identifier].join
          .mt-4
            = f.submit 'Go', class: 'input-submit'

%h2.mt-24.text-center.text-3xl For hosts

%section#host.bg-orange-100.mb-10.text-center.p-10.shadow-xl.rounded-lg
  %h3.text-center Register
  .flex.p-4.flex-wrap.sm:flex-no-wrap.items-center.justify-between
    .text-center{ class: 'w-full sm:w-5/12' }
      = link_to new_host_registration_path, class: 'inline-block bg-green-200 p-2 w-full rounded-lg shadow-xl transition duration-200 ease-in-out hover:bg-green-300' do
        .ml-2.svg-center= raw render_svg 'pencil.svg'
        .text-center Sign up
    .text-center.text-gray-500{ class: 'w-full sm:w-2/12' }
      or
    .text-center{ class: 'w-full sm:w-5/12' }
      = link_to new_host_session_path, class: 'inline-block bg-purple-100 p-2 w-full rounded-lg shadow-xl transition duration-200 ease-in-out hover:bg-purple-200' do
        .ml-2.svg-center= raw render_svg 'sign_in.svg'
        .text-center Sign in
