.text-center.mt-20.mb-6.px-4
  %h1.text-sm.mb-0.pb-0.leading-tight.text-indigo-400.tracking-wide Admin area
  .text-indigo-600.text-4xl= "#{current_host.name}"

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-10.pb-16.text-indigo-100.px-4
  .container.mx-auto.text-center
    .mx-auto{ class: 'md:w-1/2' }
      .w-full
        %svg.mx-auto.h-20.w-20{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M0 0h24v24H0z", :stroke => "none"}
          %rect{:height => "6", :rx => "1", :width => "6", :x => "4", :y => "4"}
          %line{:x1 => "7", :x2 => "7", :y1 => "17", :y2 => "17.01"}
          %rect{:height => "6", :rx => "1", :width => "6", :x => "14", :y => "4"}
          %line{:x1 => "7", :x2 => "7", :y1 => "7", :y2 => "7.01"}
          %rect{:height => "6", :rx => "1", :width => "6", :x => "4", :y => "14"}
          %line{:x1 => "17", :x2 => "17", :y1 => "7", :y2 => "7.01"}
          %line{:x1 => "14", :x2 => "17", :y1 => "14", :y2 => "14"}
          %line{:x1 => "20", :x2 => "20", :y1 => "14", :y2 => "14.01"}
          %line{:x1 => "14", :x2 => "14", :y1 => "14", :y2 => "17"}
          %line{:x1 => "14", :x2 => "17", :y1 => "20", :y2 => "20"}
          %line{:x1 => "17", :x2 => "20", :y1 => "17", :y2 => "17"}
          %line{:x1 => "20", :x2 => "20", :y1 => "17", :y2 => "20"}
      .w-full.mt-6
        = link_to 'Show QR code',admin_qr_code_path, class: 'py-2 px-5 inline-block bg-white text-indigo-900 bg-white mx-auto hover:bg-indigo-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
      .text-sm.mt-8.tracking-wide.leading-5
        %p
          Let your customers register themselves when they visit.
        %p.mt-2
          Scanning the QR code takes your customers to the online registration form.
        %p.mt-2
          Consider printing the QR code and put it on display.


%section.py-20.text-black.text-center.pt-16.pb-20.px-4
  .container.mx-auto
    .mx-auto{ class: 'md:w-1/2' }
      .w-full.text-indigo-600
        %svg.mx-auto.h-20.w-20{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M0 0h24v24H0z", :stroke => "none"}
          %circle{:cx => "9", :cy => "7", :r => "4"}
          %path{:d => "M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"}
          %path{:d => "M16 3.13a4 4 0 0 1 0 7.75"}
          %path{:d => "M21 21v-2a4 4 0 0 0 -3 -3.85"}
      .w-full.mt-6
        = link_to 'Manage visits', admin_visits_path, class: 'py-2 px-5 inline-block bg-indigo-400 text-black hover:bg-indigo-600 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
      .text-sm.mt-8
        .tracking-wide View, confirm or remove visits.
        - if @unconfirmed_host_visits_count.positive?
          %p.tracking-wide.mt-2
            You currently have
            = link_to "#{@unconfirmed_host_visits_count} unconfirmed",
                      admin_visits_path,
                      class: 'text-status text-status--hint transition duration-100 ease-in-out hover:bg-yellow-400'
            = "#{ "visit".pluralize(@unconfirmed_host_visits_count) }."

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-16.pb-20.text-indigo-100.px-4
  .container.mx-auto.text-center
    .mx-auto{ class: 'md:w-1/2' }
      .w-full
        %svg.mx-auto.h-20.w-20{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M0 0h24v24H0z", :fill => "none", :stroke => "none"}
          %path{:d => "M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4"}
          %line{:x1 => "12", :x2 => "12", :y1 => "13", :y2 => "22"}
          %polyline{:points => "9 19 12 22 15 19"}
      .w-full.mt-6
        = link_to 'Download visits', new_admin_download_path, class: 'py-2 px-5 inline-block bg-white text-indigo-900 bg-white mx-auto hover:bg-indigo-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
      .text-sm.mt-8
        Download visits data from given dates.

%section.py-20.text-black.text-center.pt-16.pb-20.px-4
  .container.mx-auto.text-center
    .mx-auto{ class: 'md:w-1/2' }
      .w-full.text-indigo-600
        %svg.mx-auto.h-20.w-20{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M0 0h24v24H0z", :stroke => "none"}
          %path{:d => "M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"}
          %circle{:cx => "12", :cy => "12", :r => "3"}
      .w-full.mt-6
        = link_to 'Account settings', edit_admin_settings_path, class: 'py-2 px-5 inline-block bg-indigo-400 text-black hover:bg-indigo-600 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
      .text-sm.mt-8
        Change your settings.

.text-center.mt-10.px-4
  = link_to 'Sign out', destroy_host_session_path, method: :delete, class: 'text-pink-500 hover:text-indigo-500 transition duration-100 ease-in-out'
