.text-center
  .mb-5
    = render 'shared/buttons/back', url: admin_root_path
  %h1 Account settings

  - if flash[:notice]
    .flash.flash-notice.text-xs.bg-blue-100.tracking-wider.p-4.shadow-lg.inline.rounded
      = flash[:notice]

  = form_with model: @settings_form, url: admin_settings_path do |f|
    .my-8
      = f.label :name, class: 'label'
      = f.text_field :name, class: 'input-text'
      = render 'shared/forms/field_error_messages', form: @settings_form, column: :name

    .my-8
      %div{ data: { controller: 'visit-url-preview' } }
        = f.label :url_identifier, 'URL identifier', class: 'label'
        = f.text_field :url_identifier, class: 'input-text', data: { action: 'keyup->visit-url-preview#updatePreview', target: 'visit-url-preview.urlIdentifierInput' }
        = render 'shared/forms/field_error_messages', form: @settings_form, column: :url_identifier

        .text-gray-500.text-xs.my-4
          The URL identifier is the last part your public URL:

          .my-2.text-gray-600.font-mono<
            - *base_url, url_identifier = @settings_form.calculated_visit_url.rpartition('/')
            = "#{base_url.join}"
            %output.inline.font-bold{ data: { target: 'visit-url-preview.urlIdentifierOutput' } }>= url_identifier

          It may only contain alphanumeric characters and dashes.

        .text-gray-600.text-xs
          Note that your
          %b QR code changes
          if you change the URL identifier.

    .my-16
      = f.label :auto_confirm_visits, 'Auto-confirm visits', class: 'label'
      = f.check_box :auto_confirm_visits, class: 'input-text'
      .text-gray-500.text-xs.mt-1
        When enabled, visits are automatically confirmed.

    .my-8{ 'data-controller': 'admin-notes-settings' }
      .mb-4
        = f.label :notes_enabled, "Show 'Notes' field", class: 'label'
        = f.check_box :notes_enabled, class: 'input-text', data: { action: 'admin-notes-settings#toggleNotesText', target: 'admin-notes-settings.checkbox' }
        .text-gray-500.text-xs.mt-1
          Use this field if you need additional information from your visitors.

      .mt-4{ data: { target: 'admin-notes-settings.textarea' } }
        = f.label :notes_text, 'Notes text', class: 'label'
        = f.text_area :notes_text, class: 'input-text'
        .text-gray-500.text-xs.mt-1
          This text will be shown below the "Notes" field.
          %br
          Describe what kind of information you are asking for.

    .actions.my-10
      = f.submit 'Save settings', class: 'input-submit'

    - if @settings_form.errors.any?
      .my-5
        = link_to 'Cancel', edit_admin_settings_path, class: 'shy-link'
