.text-center.mt-6.mb-10
  = link_to 'Back', admin_root_path, class: 'text-pink-500 hover:text-indigo-500 transition duration-100 ease-in-out'

.text-center.mt-10
  %h1.text-4xl.text-indigo-600 Account settings

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-10.pb-16
  .container.mx-auto.text-left
    .mx-auto{ class: 'md:w-1/2' }
      = form_with model: @settings_form, url: admin_settings_path do |f|
        .my-8
          = f.label :name, class: 'text-white text-xs'
          = f.text_field :name, class: 'w-full'
          = render 'shared/forms/field_error_messages', form: @settings_form, column: :name

        .my-8
          %div{ data: { controller: 'visit-url-preview' } }
            = f.label :url_identifier, 'URL identifier', class: 'text-white text-xs'
            = f.text_field :url_identifier, class: 'w-full', data: { action: 'keyup->visit-url-preview#updatePreview', target: 'visit-url-preview.urlIdentifierInput' }
            = render 'shared/forms/field_error_messages', form: @settings_form, column: :url_identifier

            .text-indigo-100.text-xs.mt-4.mb-0
              This is the last part your public URL:

              .bg-indigo-200.p-1.my-2.text-indigo-800.font-mono
                - *base_url, url_identifier = @settings_form.calculated_visit_url.rpartition('/')
                = "#{base_url.join}"
                %output.inline.font-bold.text-base{ data: { target: 'visit-url-preview.urlIdentifierOutput' } }>= url_identifier

              It may only contain alphanumeric characters and dashes.

            .text-indigo-100.text-xs
              Note that your
              %b QR code changes
              if you change the URL identifier.

        .my-8
          = f.label :auto_confirm_visits, 'Auto-confirm visits', class: 'text-white text-xs'
          .text-indigo-200.text-xs.mt-1
            When enabled, visits are automatically confirmed.

          = f.check_box :auto_confirm_visits

        .my-8{ 'data-controller': 'admin-notes-settings' }
          .mb-4
            = f.label :notes_enabled, "Show 'Notes' field", class: 'text-white text-xs'
            .text-indigo-200.text-xs.mt-1
              Use this field if you need additional information from your guests.

            = f.check_box :notes_enabled, data: { action: 'admin-notes-settings#toggleNotesText', target: 'admin-notes-settings.checkbox' }

          .mt-4{ data: { target: 'admin-notes-settings.textarea' } }
            = f.label :notes_text, 'Notes text', class: 'text-white text-xs'
            = f.text_area :notes_text, class: 'w-full'
            .text-indigo-100.text-xs.mt-1
              This text will be shown below the "Notes" field.
              %br
              Describe what kind of information you are asking for.

        .actions.my-8.text-right
          - if @settings_form.errors.any?
            = link_to 'Cancel', edit_admin_settings_path, class: 'mr-6 text-gray-400  hover:text-white'
          = f.button 'Save settings', type: :submit, class: 'inline-flex items-center px-10 py-3 border border-transparent text-base leading-6 font-medium text-indigo-900 bg-white hover:bg-indigo-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
