.text-center.mt-6.mb-10.px-4
  = link_to t('shared.back'), admin_root_path, class: 'text-pink-500 hover:text-indigo-500 transition duration-100 ease-in-out'

.text-center.mt-10.px-4
  %h1.text-4xl.text-indigo-600
    = t('.account_settings')

%section.bg-gradient-to-r.from-indigo-500.to-indigo-500.via-indigo-600.pt-10.pb-16.px-4
  .container.mx-auto.text-left
    .mx-auto{ class: 'md:w-1/2' }
      = form_with model: @settings_form, url: admin_settings_path do |f|
        .my-8
          = f.label :name, class: 'text-white text-xs'
          = f.text_field :name, class: 'w-full'
          = render 'shared/forms/field_error_messages', form: @settings_form, column: :name

        .my-8
          %div{ data: { controller: 'visit-url-preview' } }
            = f.label :url_identifier, 'URL identifier', class: 'text-white text-xs'
            = f.text_field :url_identifier, class: 'w-full', data: { action: 'keyup->visit-url-preview#updatePreview', target: 'visit-url-preview.urlIdentifierInput' }
            = render 'shared/forms/field_error_messages', form: @settings_form, column: :url_identifier

            .text-indigo-100.text-xs.mt-4.mb-0
              = t('.this_is_the_last_part_of_your_public_url_colon')

              .bg-indigo-200.p-1.my-2.text-indigo-800.font-mono
                - *base_url, url_identifier = @settings_form.calculated_visit_url.rpartition('/')
                = "#{base_url.join}"
                %output.inline.font-bold.text-base{ data: { target: 'visit-url-preview.urlIdentifierOutput' } }>= url_identifier

              = t('.it_may_only_contain_alphanumeric_and_dashes')

            .text-indigo-100.text-xs
              = t('.note_that_your_qr_code_changes_if_you_change_url_identifier_html')

        .my-8
          = f.label :auto_confirm_visits, class: 'text-white text-xs'
          .text-indigo-200.text-xs.mt-1
            = t('.when_enabled_visits_are_confirmed_automatically')

          = f.check_box :auto_confirm_visits

        .my-8{ 'data-controller': 'admin-notes-settings' }
          .mb-4
            = f.label :notes_enabled, class: 'text-white text-xs'
            .text-indigo-200.text-xs.mt-1
              = t('.use_field_to_ask_guest_for_additional_information')

            = f.check_box :notes_enabled, data: { action: 'admin-notes-settings#toggleNotesText', target: 'admin-notes-settings.checkbox' }

          .mt-6{ data: { target: 'admin-notes-settings.textarea' } }
            = f.label :notes_text, 'Notes text', class: 'text-white text-xs'
            = f.text_area :notes_text, class: 'w-full'
            .text-indigo-100.text-xs.mt-1
              = t('.text_will_be_shown_below_notes_field')
              %br
              = t('.describe_what_information_you_are_asking_for')

        .actions.my-8.text-right
          - if @settings_form.errors.any?
            = link_to t('shared.cancel'), edit_admin_settings_path, class: 'mr-6 text-gray-400  hover:text-white'
          = f.button nil, type: :submit, class: 'inline-flex items-center px-10 py-3 border border-transparent text-base leading-6 font-medium text-indigo-900 bg-white hover:bg-indigo-400 hover:text-white focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-200'
