= form_for @attendance do |f|
  .grid.grid-col-rows
    .mb-8
      = f.label :name
      = f.text_field :name, placeholder: "optional", class: "w-full"
    .mb-8
      = f.label :contact
      = f.text_field :contact, placeholder: "Please provide an email or phone", class: "w-full"
      - if @attendance.errors.key?(:contact)
        .text-red-500.text-xs.mt-1
          = @attendance.errors.messages[:contact].join(', ')

    .actions
      = f.submit 'Attend', class: "button button-green w-full"

    .text-xs.text-gray-500.mt-8
      We are going to delete this information after 14 days. Meanwhile, we are not giving it to
      %span.italic.tracking-wider anyone.
      Promised.
