- if attendance&.persisted?
  %div
    .shadow.bg-white.rounded.mb-8{ class: "border-status-#{attendance.status}" }
      .flex.flex-wrap
        .w-full.px-5.pt-5
          .text-xs.text-gray-500= attendance.attended_on
        .w-full.px-5.py-1
          .text-2xl= attendance.token
        .w-full.px-5.pb-5
          .flex
            .flex-auto
              .text-red-600.text-xs.tracking-wider
                - if attendance.name.present?
                  = "#{attendance.name} | "
                = attendance.contact
            .flex-auto.text-right.text-sm{ class: "text-status-#{attendance.status}" }
              = attendance.decorate.display_status
