!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Rumo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    .flex.flex-wrap
      .w-full.p-4.bg-gradient-to-r.from-blue-300.to-blue-300.via-blue-200
        .max-w-screen-sm.sm:mx-auto
          = link_to '/', class: 'hover:font-bold' do
            .svg-center= raw render_svg 'umbrella.svg'
            .block.text-xs.tracking-widest.-mt-1.uppercase.text-center Rumo

      .w-full
        = yield

    %footer.my-20


